@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: "맑은고딕";
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    list-style: none;
}
body {
    position: relative;
    margin: 0 auto;
    width: 1200px;
}
h1 {
    font-size: inherit;
}

span, strong {
    font-weight: inherit;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    color: inherit;
    background-color: inherit;
    border: inherit;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 100px;
    background-color: blueviolet;
}
header .logo {
    display: flex;
}
header .logo a {
    display: flex;
    width: 200px;
}
header .logo a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
header .gnb {
    position: relative;
}
header .gnb .main {
    display: flex;
    height: 100%;
}
header .gnb .main li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 100%;
    padding: 0 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
header .gnb .sub {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #333;
}
header .gnb .sub .sub_wrap {
    display: flex;
}
header .gnb .sub .sub_wrap ul {
    display: flex;
    flex-direction: column;
}
header .gnb .sub ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 100%;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
header .gnb .sub ul li a:hover {
    background-color: #ccc;
}
.visual ul {
    display: flex;
    height: 350px;
}
.visual ul li a {
    position: absolute;
    display: flex;
    width: 1200px;
    height: 350px;
}
.visual ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news {
    display: flex;
    height: 200px;
}
.news .tab {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.news .tab button {
    width: 120px;
    padding: 5px;
    font-weight: 700;
    background-color: rgb(184, 104, 221);
}
.news .tab .detail {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ccc;
}

.news .notice {
    flex: 1;
}
.news .notice .tab .detail {
    padding: 10px 5px;
    height: 100%;
}
.news .notice .tab .detail li {
    height: 100%;
}
.news .notice .tab .detail li:nth-child(odd) {
    background-color: #ccc;
}
.news .notice .tab .detail li:last-child {
    border-bottom: 1px solid #ccc;
}
.news .notice .tab .detail li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    height: 100%;
}

.news .gallery {
    flex: 1;
}
.news .gallery .tab .detail {
    flex-direction: row;
    padding: 20px;
    gap: 10px;
}
.news .gallery .tab .detail li {
    width: 100%;
    height: 100%;
}
.news .gallery .tab .detail li a {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.news .gallery .tab .detail li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #333;
    padding: 20px;
}
footer .copyright {
    color: #fff;
}
footer .sns {
    display: flex;
    gap: 10px;
}
footer .sns li a {
    display: flex;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}
footer .sns li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news .link {
    flex: 1;
}
.news .link a {
    display: flex;
}
.news .link a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal {
    display: none;
}
.modal.active {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal.active .modal_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    gap: 24px;
    top: 50%;
    left: 50%;
    flex-direction: column;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
}
.modal.active .modal_wrap h1 {
    font-size: 24px;
    font-weight: 700;
}
.modal.active .modal_wrap .btn_wrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.modal.active .modal_wrap .btn_close {
    max-width: fit-content;
    padding: 5px 20px;  
    font-weight: 700;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.modal.active .modal_wrap .btn_close:hover {
    background-color: #ccc;
}