@charset "UTF-8";

/*클리어 css**********************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-family: "맑은고딕";
    font-size: 16px;
}
h1 {
    font-size: inherit;
    font-weight: inherit;
}
ul, li, ol {
    list-style: none; 
}
a {
    text-decoration: none;
    color: inherit;
}
span, strong {
    font-weight: inherit;
}
button {
    font-weight: inherit;
    color: inherit;
    background-color: inherit;
    border: inherit;
    cursor: pointer;
}
body {
    display: flex;
    flex-direction: column;
}
.wrapper {
    display: flex;
}
/*******************************************************/

/*헤더***************************************************/
header {
    position: relative;
    display: flex;
    flex-direction: column;
}
header:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: #199D79;
}
header .logo a {
    display: flex;
    width: 200px;
    padding: 20px;
}
header .logo a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
header .gnb {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #333;
}
header .gnb .main {
    width: 100%;
    padding: 10px;
}
header .gnb .main li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
}
header .gnb .main li a:hover {
    background-color: #6d6d6d;
}

header .gnb .main li .sub {
    display: none;
}
header .gnb .main li .sub.active {
    display: block;
}
header .gnb .main li .sub.active li {
    width: 100%;
}
header .gnb .main li .sub.active li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #6d6d6d;
}

header .user ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 16px;
}
header .user ul li a {
    position: relative;
    display: flex;
    color: #fff;
    font-size: 14px;
}
header .user ul li a:hover {
    color: #6d6d6d;
}
header .user ul .login {
    position: relative;
}
header .user ul .login a::after {
    position: absolute;
    top: 6px;
    right: -8px;
    content: "";
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
/********************************************************/

/*비주얼*************************************************/
/* .group {
    display: flex;
    flex-direction: column;
} */
.content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    height: 100%;
}
.content .visual {
    width: 100%;
}
.content .visual .slide {   
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.content .visual .slide li a {
    display: flex;
    width: 100%;
    height: 400px;
}
.content .visual .slide li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content .visual .direct {
    position: absolute;
    top: 0;
    right: 0;
}
.content .visual .direct li a {
    display: flex;
    padding: 20px 40px;
    font-weight: 700;
    color: #fff;
    background-color: #333;
}
.content .visual .direct li a:hover {
    background-color: #6d6d6d;
}
/**************************************/

/*링크*********************************/
.link a {
    display: flex;
    width: 100%;
    height: 200px;
}
.link a .group {
    position: absolute;
}
.link a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/**************************************/

/*************** 탭메뉴***********************/
.tab {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 250px;
}
.tab .button_wrap {
    display: flex;
}
.tab .button_wrap ul {   
    display: flex;
    gap: 4px;
}
.tab .button_wrap ul li button {
    position: relative;
    display: flex;
    padding: 10px 40px;
    background-color: #ccc;
    border: 1px solid #ccc;
}
.tab .button_wrap ul li.active button {
    color: #199D79;
    font-weight: 700;
    background-color: #fff;
}
.tab .button_wrap ul li.active button:after {
    position: absolute;
    content: "";
    display: flex;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
/**************************************/

/*************** 탭패널***********************/
.tab .tabpanels {
    display: flex;
    width: 100%;
    height: 100%;
}
.tab .tabpanels .tab_panel .detail {
    display: none;
}
.tab .tabpanels .notice .detail.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    height: 100%;
}
.tab .tabpanels .notice .detail.active li a {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.tab .tabpanels .notice .detail.active li a:hover {
    background-color: #ccc;
}
.tab .tabpanels .notice .detail.active li:last-child a {
    border-bottom: 0px;
}
.tab .tabpanels .gallery {
    width: 100%;
    height: 100%;
}
.tab .tabpanels .gallery .detail.active {
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
}
.tab .tabpanels .gallery .detail.active li {
    width: 100%;
    height: 100%;
}
.tab .tabpanels .gallery .detail.active li a {
    display: flex;
    width: 100%;
    height: 100%;
}
.tab .tabpanels .gallery .detail.active li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/**************************************/

/*푸터*******************************************/
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: #333;
}
footer .foo_logo a {
    display: flex;
    width: 200px;
}
footer .foo_logo a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
footer .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}
footer .copyright {
    color: #fff;
}
footer .sns ul {
    display: flex;
    gap: 40px;
}
footer .sns ul li a {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
footer .sns ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*****************************************************/