@charset "UTF-8";
/*클리어 css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}
h1 {
    font-size: inherit;
}
ul, li, ol {
    font-size: inherit;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: inherit;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
button {
    font-family: inherit;
    font-size: inherit;
    border: inherit;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}
span, strong {
    font-weight: inherit;
    color: inherit;
}
/**/

/*헤더*/
header .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 100px;
    background-color: #0066AD;
}
header .logo a {
    display: flex;
    align-items: center;
    height: 100%;
}
header .gnb .depth1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
header .gnb .depth1 li {
    width: 180px;
}
header .gnb .depth1 li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: #fff;
}
header .gnb .depth1 li a:hover {
    background-color: #087dd1;
}
header .gnb .depth1 li .depth2 {
    display: none;
}
header .gnb .depth1 li .depth2.active {
    position: absolute;
    z-index: 1;
    top: 100px;
    display: flex;
    flex-direction: column;
}
header .gnb .depth1 li .depth2.active li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    padding: 10px;
    color: #fff;
    background-color: #333;
}
header .gnb .depth1 li .depth2.active li a:hover {
    color: #fff;
    background-color: #202020;
}
/**/

/*슬라이드*/
.visual .wrapper {
    position: relative;
    display: flex;
    height: 300px;
}
.visual ul li a {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.visual ul li a span {
    position: absolute;
    padding: 20px 40px;
    color: #fff;
    background-color: #087dd1;
}
.visual ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/**/

/*뉴스*/
.container .wrapper {
    display: flex;
    gap: 10px;
    height: 200px;
    padding: 10px 0;
}
.container .news {
    flex: 1;
}
.container .news .tab {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container .news .tab li.active button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 5px;
    color: #fff;
    background-color: #087dd1;
    border: 1px solid #087dd1;
}
.container .news .tab ul {
    border: 1px solid #e7e7e7;
    height: 100%;
}
.container .news .tab .notice ul {
    display: none;
}
.container .news .tab .notice.active {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container .news .tab .notice.active ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.container .news .tab .notice.active ul li:nth-child(even) {
    color: #fff;
    background-color: #8fcdfa;
}
.container .news .tab .notice.active ul li a {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 14px;
    color: #7c126a;
}
.container .news .tab button {
    border: 1px solid #ccc;
    width: 120px;
    padding: 5px;
}
.container .news .tab .gallery button {
    position: absolute;
    top: 0;
    left: 120px;
}
.container .news .tab .gallery ul {
    display: none;
}
.container .news .tab .gallery.active {
    height: 100%;
}
.container .news .tab .gallery.active ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    height: 100%;
}
.container .news .tab .gallery.active ul li a {
    display: flex;
    width: 100px;
    height: 100%;
}
.container .news .tab .gallery.active ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/**/

/*배너*/
.container .banner {
    flex: 1;
}
.container .banner a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container .banner a span {
    position: absolute;
    padding: 10px 60px;
    color: #fff;
    background-color: #087dd1;
}
.container .banner a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/**/

/*link*/
.container .link {
    flex: 1;
}
.container .link a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container .link a span {
    position: absolute;
    padding: 10px 60px;
    color: #fff;
    background-color: #087dd1;
}
.container .link a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/**/

/*푸터*/

footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px;
    background-color: #9c9c9c;
}
footer .group .foot_nav {
    display: flex;
}
footer .group .foot_nav .depth1 {
    display: flex;
    gap: 40px;
}
footer .group .foot_nav .depth1 li a {
    display: flex;
    padding: 10px 20px;
    color: #fff;
}

/*팝업*/
.popup {
    display: none;
}
.popup.active {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.popup.active .bg {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    opacity: 80%;
}
.popup.active .popup_wrap {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20%;
    gap: 20px;
    width: 240px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 4px;
}
.popup.active h1 {
    font-size: 24px;
    font-weight: 700;
}
.popup.active .btn {
    border: 1px solid #555;
    padding: 10px 20px;
    border-radius: 4px;
}