@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
span, strong {
    font-weight: inherit;
}
ul, li, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    font-weight: inherit;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

header {
    display: none;
}

.visual .wrapper {
    height: 300px;
    overflow: hidden;
}
.visual .wrapper ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 900px;
}
.visual .wrapper ul li {
    width: 100%;
    height: 300px;
}
.visual .wrapper ul li a {
    display: flex;
    width: 100%;
    height: 300px;
}
.visual .wrapper ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .visual .wrapper ul li {
    width: 1200px;
    height: 300px;
}
.visual .wrapper ul li a {
    display: flex;
    width: 100%;
    height: 100%;
}
.visual .wrapper ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */