/*디폴트***********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #777;
}
h1,h2 {
    font-size: inherit;
    font-weight: inherit;
}
ul,li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
button {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    background-color: inherit;
    color: inherit;
    border: inherit;
    cursor: pointer;
}
strong {
    font-size: inherit;
    font-weight: inherit;
}
/*******************************************/

/*헤더*/
header .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 0 20px;
    height: 100px;
    background-color: #FF5050;
}
header .logo {
    display: flex;
    align-items: center;
    height: 100%;
}
header .logo a {
    display: flex;
}
header .logo a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header .gnb {
    width: 100%;
    height: 100%;
}
header .gnb .depth1 {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 40px;
}
header .gnb .depth1 li {
    width: calc(25% - 20px);
    height: 100%;
}
header .gnb .depth1 li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
}

header .depth2 { 
    position: absolute;
    z-index: 1;
    left: 0;
    display: flex;
    padding: 0 20px 0 275.8px;
    gap: 40px;
    width: 1200px;
    background-color: #333333;
}
header .depth2 ul {
    width: 25%;
}
header .depth2 ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    color: #fff;
}
header .depth2 ul li a:hover {
    background-color: #5C5C5C;
    color: #FADB2E;
}
/**/
.visual .wrapper {
    position: relative;
    height: 300px;
}
.visual span {
    position: absolute;
    padding: 20px 100px;
    color: #fff;
    background-color: #FADB2E;
}
.visual ul {
    display: flex;
    height: 100%;
}
.visual ul li {
    position: absolute;
    height: 100%;
}
.visual ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.visual ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bbs .wrapper {
    display: flex;
    gap: 10px;
    height: 200px;
    background-color: #f1f1f1cc;
}
.bbs .notice {
    flex: 1;
}
.bbs .gallery {
    flex: 1;
}
.bbs .go {
    flex: 1;
}
.bbs button {
    max-width: 120px;
    padding: 4px 20px;
    color: #333333;
    background-color: #FADB2E;
}
.bbs .tab {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 10px;
}
.bbs .tab ul {
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
}
.bbs .tab ul.detail {
    height: 100%;
}
.bbs .tab ul.detail li {
    height: 100%;
    color: #7b0094;
    background-color: #fff;
}
.bbs .tab ul.detail li:nth-child(odd) {
    background-color: #fffadf;
}
.bbs .tab ul.detail li a {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    font-size: 14px;
}
.bbs .tab ul.image_wrapper {
    flex-direction: row;
    gap: 20px;
    padding: 10px 20px;
    height: 100%;
    background-color: #fff;
}
.bbs .tab ul.image_wrapper li {
    width: 100%;
}
.bbs .tab ul.image_wrapper li a {
    display: flex;
    width: 100%;
    height: 130px;
}
.bbs .tab ul.image_wrapper li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bbs .go .link a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}
.bbs .go .link a span {
    position: absolute;
    padding: 10px 60px;
    color: #333333;
    background-color: #FADB2E;
}
.bbs .go .link a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer .foot_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    height: 100px;
    color: #fff;
    background-color: #69a4db;
}
footer .foot_nav .group {
    display: flex;
    flex-direction: column;
}
footer .foot_nav .depth1 {
    display: flex;
    gap: 40px;
}
footer .familysite {
    padding: 5px 60px;
    color: #333333;
    background-color: #fff;
    border: 1px solid #333333;
}
.popup {
    position: fixed;
    top: 25%;
    left: 38%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    padding: 20px;
    color: #333333;
    background-color: #fff;
}
.popup h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}
.popup .btn {
    display: flex;
    justify-content: right;
    padding: 10px 20px;
}