@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: '맑은고딕';
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}
body {
    display: flex;
    width: 1080px;
    gap: 10px;
}
h1 {
    font-size: inherit;
}
ul, li, ol {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
strong, span {
    font-size: inherit;
    font-weight: inherit;
}
button {
    font-size: inherit;
    border: inherit;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
}

header {
    height: 650px;
    background-color: #eeeeee;
}
header .logo a {
    display: flex;
    padding: 20px 0;
}
header .gnb .depth1 li {
    position: relative;
}
header .gnb .depth1 li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: 700;
    color: #fff;
    background-color: #333;
}
header .gnb .depth1 li .depth2 {
    display: none;
}
header .gnb .depth1 li .depth2.active {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -170px;
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: #333; 
}  
header .gnb .depth1 li .depth2.active li a {
    font-size: 15px;
    font-weight: 400;
    padding: 10px 60px;
    background-color: #ccc;
}

/**************************/
.content .visual {
    width: 790px;  
    height: 350px;
    overflow: hidden;
}
.content .visual ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1050px;
}
.content .visual ul li {
    width: 790px;
    height: 350px;
}
.content .visual ul li a {
    display: flex;
    width: 100%;
    height: 100%;
}
.content .visual ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/**************************/

.news {
    display: flex;
    padding: 10px 0 10px 0;
    gap: 10px;
    height: 200px;
}
.news .tab {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.news .tab button {
    width: 100px;
    padding: 5px;
    color: #fff;
    background-color: #333;
}
.news .tab .detail {
    border: 1px solid #ccc;
}
.news .notice {
    flex: 1;
}
.news .notice .tab .detail {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.news .notice .tab .detail li {
    height: 100%;
}
.news .notice .tab .detail li:nth-child(even) {
    background-color: #eeeeee;
}
.news .notice .tab .detail li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 100%;
}
.news .notice .tab .detail li a span, strong {
    font-size: 14px;
}

.news .gallery {
    flex: 1;
}
.news .gallery .tab {
    display: flex;
    height: 100%;
}
.news .gallery .tab .detail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
}
.news .link {
    flex: 1;
}
.news .link a {
    display: flex;
    width: 100%;
    height: 100%;
}
.news .link a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 100px;
    background-color: #333;
}
footer .group {
    display: flex;
    flex-direction: column;
}
footer .foot_nav ul {
    display: flex;
    gap: 20px;
}
footer .foot_nav ul li a {
    display: flex;
    color: #fff;
    padding: 10px 20px;
}
footer .copyright {
    color: #fff;
}