@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #333;
}
body {
    width: 1200px;
    margin: 0 auto;
}
h1 {
    font-size: inherit;
}
span, strong {
    font-size: inherit;
    font-weight: inherit;
}
a {
    text-decoration: none;
}
button {
    font-size: inherit;
    background-color: inherit;
    border: inherit;
    cursor: pointer;
}
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 20px;
    background-color: #008d07;
}
header .logo a {
    display: flex;
    width: 200px;
    height: 50px;
}
header .logo a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
header .gnb .main {
    display: flex;
}
header .gnb .main li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}
header .gnb .sub {
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
    background-color: #333;
}
header .gnb .sub .sub_wrap {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}
header .gnb .sub .sub_wrap ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
header .gnb .sub .sub_wrap ul li a:hover {
    font-weight: 700;
    background-color: #6b6b6b;
    transition: 0.2s;
}
/* .visual {
    width: 1200px;
    height: 300px;
}
.visual ul {
    display: flex;
    overflow: hidden;
}
.visual ul li a {
    display: flex;
    width: 1200px;
    height: 300px;
}
.visual ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/* .visual {
    width: 1200px;
    height: 300px;
    overflow: hidden;
}
.visual ul {
    display: flex;
    flex-direction: column;
}
.visual ul li a {
    display: flex;
    width: 1200px;
    height: 300px;
}
.visual ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
 .visual {
    width: 1200px;
    height: 300px;
}
.visual ul {
    display: flex;
}
.visual ul li a {
    position: absolute;
    display: flex;
    width: 1200px;
    height: 300px;
}
.visual ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news {
    display: flex;
    gap: 10px;
    height: 200px;
}
.news .tab {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.news .tab button {
    width: 120px;
    padding: 5px;
    color: #fff;
    background-color: #333;
}
.news .tab .detail {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    height: 100%;
}

.news .notice {
    flex: 1;
    height: 100%;
}
.news .notice .detail li {
    height: 100%;
}
.news .notice .detail li a {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.news .gallery {
    flex: 1;
}
.news .gallery .detail {
    flex-direction: row;
    padding: 20px;
    gap: 10px;
}
.news .gallery .detail li {
    width: 100%;
    height: 100%;
}
.news .gallery .detail li a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.news .gallery .detail li a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.news .link {
    flex: 1;
}
.news .link a {
    display: flex;
    width: 100%;
    height: 100%;
}
.news .link a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    background-color: #333;
}
footer .sns ul {
    display: flex;
    gap: 10px;
}
footer .sns ul li a {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
footer .sns ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}